# To do

Create separation cases for athletics and swimming to go by event rather than sport

Rhythmic gymnastics, boxing, gymnastics (top 2), skeleton, swimming (top 2), athletics (top 2), weightlifting

Completed test data: Women’s Foil Fencing, Individual, Archery (Men’s), Diving (Men’s), Gymnastics (Floor Exercise Women’s)

## List of events for model prediction:
Swimming Women's 4 x 100 metres Freestyle Relay
Basketball Men's Basketball

## Models:
Decision Tree, Logistic Reg, KNN, SVC


## UI + Presentation + Report

In [ ]:
#importing data
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_text
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.inspection import DecisionBoundaryDisplay

df = pd.read_csv("/Users/ckelv/Desktop/other m76/athlete_events.csv")
print(df.shape)

(271116, 15)

In [ ]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
df[df["NOC"] == "URS"]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
192,87,Rost'om Omeris dze Abashidze,M,29.0,188.0,97.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",NaN
193,88,Nunu Dzhansuhivna Abashydze (-Myslaieva),F,25.0,168.0,105.0,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Athletics,Athletics Women's Shot Put,NaN
550,316,Zagalav Abdulbekovich Abdulbekov,M,26.0,160.0,62.0,Soviet Union,URS,1972 Summer,1972,Summer,Munich,Wrestling,"Wrestling Men's Featherweight, Freestyle",Gold
622,360,Dzhamolidin Mirgarifanovich Abduzhaparov,M,24.0,174.0,72.0,Soviet Union,URS,1988 Summer,1988,Summer,Seoul,Cycling,"Cycling Men's Road Race, Individual",NaN
802,460,Viktor Andreyevich Aboimov,M,22.0,190.0,78.0,Soviet Union,URS,1972 Summer,1972,Summer,Munich,Swimming,Swimming Men's 400 metres Freestyle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271076,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Soviet Union,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Shot Put,Gold
271077,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Soviet Union,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Javelin Throw,NaN
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271079,135553,Galina Ivanovna Zybina (-Fyodorova),F,29.0,168.0,80.0,Soviet Union,URS,1960 Summer,1960,Summer,Roma,Athletics,Athletics Women's Shot Put,NaN
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze

In [ ]:
df["NOC"].value_counts()

NOC
USA    18853
FRA    12758
GBR    12256
ITA    10715
GER     9830
       ...
YMD        5
SSD        3
UNK        2
NBO        2
NFL        1
Name: count, Length: 230, dtype: int64

In [ ]:
df["Team"].value_counts()

Team
United States    17847
France           11988
Great Britain    11404
Italy            10260
Germany           9326
                 ...
Briar                1
Hannover             1
Nan-2                1
Brentina             1
Digby                1
Name: count, Length: 1184, dtype: int64

In [ ]:
#subsetting
subset = df[['Sex', 'Age', 'Height', 'Weight', 'NOC', 'Year', 'Sport', 'Event', 'Medal']]
subset['Medal'].fillna('No Medal', inplace=True)


#Medal is 0 if they did not get a medal, 1 if they got bronze, silver, or gold
subset['Medal'] = subset['Medal'].apply(lambda x: 0 if x == 'No Medal' else 1)

#Sex is 0 if male, 1 if female
subset['Sex'] = subset['Sex'].apply(lambda x: 0 if x == 'Male' else 1)

subset.head()

/var/folders/41/33w5vnfj1f3d5c6lb1fn3brc0000gn/T/ipykernel_30493/3792773740.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Medal'].fillna('No Medal', inplace=True)
/var/folders/41/33w5vnfj1f3d5c6lb1fn3brc0000gn/T/ipykernel_30493/3792773740.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Medal'] = subset['Medal'].apply(lambda x: 0 if x == 'No Medal' else 1)
/var/folders/41/33w5vnfj1f3d5c6lb1fn3brc0000gn/T/ipykernel_30493/3792773740.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Sex'] = subset['Sex'].apply(lambda x: 0 if x == 'Male' else 1)

,Sex,Age,Height,Weight,NOC,Year,Sport,Event,Medal
0,1,24.0,180.0,80.0,CHN,1992,Basketball,Basketball Men's Basketball,0
1,1,23.0,170.0,60.0,CHN,2012,Judo,Judo Men's Extra-Lightweight,0
2,1,24.0,NaN,NaN,DEN,1920,Football,Football Men's Football,0
3,1,34.0,NaN,NaN,DEN,1900,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,1
4,1,21.0,185.0,82.0,NED,1988,Speed Skating,Speed Skating Women's 500 metres,0

In [ ]:
#subset[subset["Sport"] == "Athletics"]["Event"].value_counts()
subset["NOC"].value_counts()

NOC
USA    18853
FRA    12758
GBR    12256
ITA    10715
GER     9830
       ...
YMD        5
SSD        3
UNK        2
NBO        2
NFL        1
Name: count, Length: 230, dtype: int64

In [ ]:
print(subset["Event"].nunique())
print(subset["Sport"].nunique())

765
66

In [ ]:
#cleaning and renaming non medalists
subset = subset.dropna()
print(subset.shape)


subset["Medal"].value_counts()

(206165, 9)

Medal
0    175984
1     30181
Name: count, dtype: int64

In [ ]:
subset

,Sex,Age,Height,Weight,NOC,Year,Sport,Event,Medal
0,1,24.0,180.0,80.0,CHN,1992,Basketball,Basketball Men's Basketball,0
1,1,23.0,170.0,60.0,CHN,2012,Judo,Judo Men's Extra-Lightweight,0
4,1,21.0,185.0,82.0,NED,1988,Speed Skating,Speed Skating Women's 500 metres,0
5,1,21.0,185.0,82.0,NED,1988,Speed Skating,"Speed Skating Women's 1,000 metres",0
6,1,25.0,185.0,82.0,NED,1992,Speed Skating,Speed Skating Women's 500 metres,0
...,...,...,...,...,...,...,...,...,...
271111,1,29.0,179.0,89.0,POL,1976,Luge,Luge Mixed (Men)'s Doubles,0
271112,1,27.0,176.0,59.0,POL,2014,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",0
271113,1,27.0,176.0,59.0,POL,2014,Ski Jumping,"Ski Jumping Men's Large Hill, Team",0
271114,1,30.0,185.0,96.0,POL,1998,Bobsleigh,Bobsleigh Men's Four,0
271115,1,34.0,185.0,96.0,POL,2002,Bobsleigh,Bobsleigh Men's Four,0

In [ ]:
def reduce_no_medal(df, n):
    no_medals = df[df['Medal'] == 0]
    won_medals = df[df['Medal'] == 1]

    no_medal_sample = no_medals.sample(n=n, random_state=42)

    reduced_df = pd.concat([no_medal_sample, won_medals])

    #shuffle the data, not sure if needed
    reduced_df = reduced_df.sample(frac=1, random_state=42).reset_index(drop=True)

    return reduced_df

# n_samples = 10000
# balanced_df = reduce_no_medal(subset, n_samples)

# balanced_df["Medal"].value_counts()

In [ ]:
balanced_df = subset

In [ ]:
temp = balanced_df

In [ ]:
temp["Medal"].value_counts()

Medal
0    175984
1     30181
Name: count, dtype: int64

In [ ]:
temp["Event"].value_counts()

Event
Ice Hockey Men's Ice Hockey                                3825
Football Men's Football                                    3459
Hockey Men's Hockey                                        2874
Basketball Men's Basketball                                2461
Water Polo Men's Water Polo                                2231
                                                           ...
Art Competitions Mixed Sculpturing, Unknown Event             1
Motorboating Mixed A-Class (Open)                             1
Shooting Men's Military Rifle, Any Position, 600 metres       1
Swimming Men's 220 yard Freestyle                             1
Tennis Men's Singles, Covered Courts                          1
Name: count, Length: 590, dtype: int64

In [ ]:
medal_1_df = temp[temp['Medal'] == 1]

# Step 2: Group by Sport and count the occurrences
#sport_counts = medal_1_df['Sport'].value_counts()
sport_counts = medal_1_df['Event'].value_counts()

# Step 3: Filter to get sports with more than 20 entries
sports_with_more_than_20 = sport_counts[sport_counts > 50].index.tolist()

#temp_subset = temp[temp['Sport'].isin(sports_with_more_than_20)]
temp_subset = temp[temp['Event'].isin(sports_with_more_than_20)]

# Display the subset DataFrame
temp_subset.shape

(107065, 9)

In [ ]:
sports_with_more_than_20

["Ice Hockey Men's Ice Hockey",
 "Football Men's Football",
 "Hockey Men's Hockey",
 "Basketball Men's Basketball",
 "Water Polo Men's Water Polo",
 "Handball Men's Handball",
 "Volleyball Men's Volleyball",
 "Volleyball Women's Volleyball",
 "Hockey Women's Hockey",
 "Rowing Men's Coxed Eights",
 "Handball Women's Handball",
 "Basketball Women's Basketball",
 "Baseball Men's Baseball",
 "Football Women's Football",
 "Ice Hockey Women's Ice Hockey",
 "Athletics Men's 4 x 400 metres Relay",
 "Gymnastics Men's Team All-Around",
 "Rowing Women's Coxed Eights",
 "Athletics Men's 4 x 100 metres Relay",
 "Swimming Men's 4 x 200 metres Freestyle Relay",
 "Swimming Women's 4 x 100 metres Medley Relay",
 "Swimming Men's 4 x 100 metres Medley Relay",
 "Gymnastics Women's Team All-Around",
 "Swimming Women's 4 x 100 metres Freestyle Relay",
 "Athletics Women's 4 x 100 metres Relay",
 "Fencing Men's Sabre, Team",
 "Fencing Men's epee, Team",
 "Cycling Men's Team Pursuit, 4,000 metres",
 "Fencing Men's Foil, Team",
 "Swimming Men's 4 x 100 metres Freestyle Relay",
 "Rowing Men's Coxless Fours",
 "Water Polo Women's Water Polo",
 "Cross Country Skiing Men's 4 x 10 kilometres Relay",
 "Athletics Women's 4 x 400 metres Relay",
 "Bobsleigh Men's Four",
 'Equestrianism Mixed Jumping, Team',
 'Equestrianism Mixed Three-Day Event, Team',
 "Softball Women's Softball",
 "Fencing Women's Foil, Team",
 "Canoeing Men's Kayak Fours, 1,000 metres",
 "Rowing Men's Coxed Fours",
 "Synchronized Swimming Women's Team",
 'Equestrianism Mixed Dressage, Team',
 "Biathlon Men's 4 x 7.5 kilometres Relay",
 "Rowing Men's Quadruple Sculls",
 "Cross Country Skiing Women's 4 x 5 kilometres Relay",
 'Sailing Mixed Three Person Keelboat',
 "Swimming Women's 4 x 200 metres Freestyle Relay",
 "Canoeing Women's Kayak Fours, 500 metres",
 "Cycling Men's 100 kilometres Team Time Trial",
 "Rowing Men's Double Sculls",
 "Rhythmic Gymnastics Women's Group",
 "Rowing Men's Coxless Pairs",
 "Canoeing Men's Kayak Doubles, 1,000 metres",
 "Rowing Women's Quadruple Sculls",
 "Rowing Men's Coxed Pairs",
 "Ski Jumping Men's Large Hill, Team",
 "Canoeing Men's Canadian Doubles, 1,000 metres",
 "Modern Pentathlon Men's Team",
 "Canoeing Women's Kayak Doubles, 500 metres",
 "Short Track Speed Skating Men's 5,000 metres Relay",
 "Short Track Speed Skating Women's 3,000 metres Relay",
 'Figure Skating Mixed Pairs',
 "Bobsleigh Men's Two",
 "Athletics Men's 100 metres",
 "Nordic Combined Men's Team",
 "Luge Mixed (Men)'s Doubles",
 "Athletics Men's High Jump",
 'Sailing Mixed Two Person Keelboat',
 "Athletics Men's Discus Throw",
 "Athletics Men's Shot Put",
 "Athletics Men's Pole Vault",
 "Athletics Men's Long Jump",
 "Athletics Men's 200 metres",
 "Athletics Men's 110 metres Hurdles",
 "Athletics Men's Triple Jump",
 "Athletics Men's 1,500 metres",
 "Athletics Men's 400 metres",
 "Athletics Men's 800 metres",
 "Athletics Men's Hammer Throw",
 "Athletics Men's 400 metres Hurdles",
 "Athletics Men's Javelin Throw",
 "Athletics Men's Marathon",
 "Athletics Men's Decathlon",
 "Archery Men's Team",
 "Athletics Men's 5,000 metres",
 "Athletics Men's 10,000 metres",
 "Rowing Men's Lightweight Coxless Fours",
 "Archery Women's Team",
 "Boxing Men's Welterweight",
 "Curling Women's Curling",
 "Rowing Women's Coxless Pairs",
 "Rowing Women's Double Sculls",
 "Curling Men's Curling",
 "Boxing Men's Heavyweight",
 "Rowing Women's Coxed Fours",
 "Athletics Women's 100 metres",
 "Boxing Men's Light-Heavyweight",
 "Athletics Men's 3,000 metres Steeplechase",
 "Boxing Men's Bantamweight",
 "Athletics Women's High Jump",
 "Boxing Men's Flyweight",
 "Boxing Men's Light-Welterweight",
 'Sailing Mixed Multihull',
 "Boxing Men's Lightweight",
 "Wrestling Men's Heavyweight, Greco-Roman",
 "Athletics Women's Javelin Throw",
 "Boxing Men's Middleweight",
 "Athletics Women's Discus Throw",
 "Boxing Men's Featherweight",
 'Figure Skating Mixed Ice Dancing',
 'Sailing Mixed Two Person Heavyweight Dinghy',
 "Wrestling Men's Heavyweight, Freestyle",
 "Wrestling Men's Middleweight, Freestyle",
 "Wrestling Men's Middleweight, Greco-Roman",
 "Wrestling Men's Featherweight, Greco-Roman",
 "Rowing Men's Single Sculls",
 "Swimming Men's 1,500 metres Freestyle",
 "Tennis Men's Doubles",
 "Athletics Women's Long Jump",
 "Canoeing Men's Canadian Doubles, 500 metres",
 "Swimming Men's 400 metres Freestyle",
 "Canoeing Men's Kayak Doubles, 500 metres",
 "Fencing Women's epee, Team",
 "Athletics Women's 200 metres",
 "Fencing Men's Sabre, Individual",
 "Swimming Men's 100 metres Freestyle",
 "Gymnastics Men's Horizontal Bar",
 "Gymnastics Men's Horse Vault",
 "Wrestling Men's Lightweight, Greco-Roman",
 "Tennis Women's Doubles",
 "Diving Women's Platform",
 "Wrestling Men's Featherweight, Freestyle",
 "Judo Men's Middleweight",
 "Wrestling Men's Welterweight, Freestyle",
 "Gymnastics Men's Individual All-Around",
 "Weightlifting Men's Light-Heavyweight",
 "Athletics Women's Shot Put",
 "Wrestling Men's Lightweight, Freestyle",
 "Gymnastics Men's Floor Exercise",
 "Gymnastics Men's Pommelled Horse",
 "Wrestling Men's Light-Heavyweight, Freestyle",
 "Weightlifting Men's Middleweight"]

In [ ]:
temp["Sport"].nunique()

56

In [ ]:
temp[temp["Sport"] == "Skeleton"]["Medal"].value_counts()

Medal
0    150
1     24
Name: count, dtype: int64

In [ ]:
temp = temp_subset

In [ ]:
#mean_weight_medal_1 = temp[temp['Medal'] == 1].groupby('Sport')['Height'].mean()
mean_weight_medal_1 = temp[temp['Medal'] == 1].groupby('Event')['Height'].mean()

# Group by Sport and calculate the mean Weight for Medal == 0
#mean_weight_medal_0 = temp[temp['Medal'] == 0].groupby('Sport')['Height'].mean()
mean_weight_medal_0 = temp[temp['Medal'] == 0].groupby('Event')['Height'].mean()

# Display the results
df1 = mean_weight_medal_1.to_frame(name='Mean_Weight_Medal_1')
df2 = mean_weight_medal_0.to_frame(name='Mean_Weight_Medal_0')

# Merge the two DataFrames on the 'Sport' index
merged_df = pd.merge(df1, df2, left_index=True, right_index=True)

In [ ]:
merged_df["diff"] = merged_df["Mean_Weight_Medal_1"] - merged_df["Mean_Weight_Medal_0"]

In [ ]:

#(mean_weight_medal_1-mean_weight_medal_0).to_frame().sort_values(by="Height", ascending = False)

In [ ]:
merged_df.sort_values(by="diff", ascending = True)

,Mean_Weight_Medal_1,Mean_Weight_Medal_0,diff
Event,,,
Gymnastics Men's Floor Exercise,165.274510,167.676226,-2.401717
Gymnastics Men's Individual All-Around,165.352941,167.669123,-2.316182
Gymnastics Men's Horse Vault,165.615385,167.625000,-2.009615
Gymnastics Men's Team All-Around,165.982877,167.942632,-1.959755
"Wrestling Men's Featherweight, Greco-Roman",164.714286,166.044898,-1.330612
...,...,...,...
Swimming Women's 4 x 100 metres Freestyle Relay,175.461847,172.109306,3.352542
Rhythmic Gymnastics Women's Group,171.420000,168.030189,3.389811
Swimming Men's 4 x 100 metres Freestyle Relay,190.467337,186.833583,3.633753
Cycling Men's 100 kilometres Team Time Trial,180.417476,176.557542,3.859934
Swimming Men's 100 metres Freestyle,190.867925,185.169385,5.698539

In [ ]:
temp["NOC"].value_counts()

In [ ]:
super_temp = temp[temp["Medal"] == 1]
#super_temp[super_temp["Event"] == "Fencing Women's Foil, Individual"]["NOC"].value_counts()
#super_temp[super_temp["Event"] == "Basketball Men's Basketball"]["NOC"].value_counts()
super_temp[super_temp["Event"] == "Basketball Men's Basketball"]

In [ ]:
temp[temp["Sport"] == "Gymnastics"].shape

In [ ]:
temp_model = temp[temp["Sport"] == "Boxing"].drop(columns = ["NOC", "Sport", "Event", "Year"])

In [ ]:
temp_model["Medal"].value_counts()

In [ ]:
temp_model = reduce_no_medal(temp_model, 708)

In [ ]:

temp_model_X = temp_model.drop(columns=['Medal'])


temp_model_Y = temp_model['Medal']


dtc = DecisionTreeClassifier(max_leaf_nodes = 20)

# Fit model to training data

X_train, X_test, y_train, y_test = train_test_split(temp_model_X, temp_model_Y, test_size=0.1, random_state = 42)
dtc.fit(X_train, y_train)
print("training accuracy: {}| testing accuracy: {}".format(round(dtc.score(X_train, y_train),2), round(dtc.score(X_test, y_test),2)))

print(export_text(dtc, feature_names = temp_model_X.columns))

In [ ]:
dtc.predict(X_test)

In [ ]:
temp_one_hot = pd.get_dummies(temp, columns=['NOC'], dtype = 'int')

In [ ]:
model = temp_one_hot[temp_one_hot["Sport"] == "Boxing"]

In [ ]:
model = model.drop(columns = ["Sport", "Event"])
model_X = model.drop(columns=['Medal'])


model_Y = model['Medal']


#model_X, model_Y

In [ ]:

dtc = DecisionTreeClassifier(max_leaf_nodes = 20)

# Fit model to training data

X_train, X_test, y_train, y_test = train_test_split(model_X, model_Y, test_size=0.1, random_state = 42)
dtc.fit(X_train, y_train)
print("training accuracy: {}| testing accuracy: {}".format(round(dtc.score(X_train, y_train),2), round(dtc.score(X_test, y_test),2)))

print(export_text(dtc, feature_names = model_X.columns))

In [ ]:
X_test["NOC_CUB"].value_counts()

In [ ]:
print(sum(dtc.predict(X_test)))

In [ ]:
#importing sklearn model constructors
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis


'''ADD SOME CODE HERE'''
#creating logistic regression model
lg = LogisticRegression()
lg.fit(X_train, Y_train['two_year_recid'])

#saving results
model_scores["Logistic"] = lg.score(X_test, Y_test['two_year_recid'])


#creating LDA model
lda = LinearDiscriminantAnalysis(store_covariance = True)
lda.fit(X_train, Y_train['two_year_recid'])

#saving results
model_scores["LDA"] = lda.score(X_test, Y_test['two_year_recid'])

In [ ]:
#creating random forest model
rfc = RandomForestClassifier()
rfc.fit(X_train, Y_train['two_year_recid'])

#saving results
model_scores["Random Forest"] = rfc.score(X_test, Y_test['two_year_recid'])


#creating bagging model
bc = BaggingClassifier()
bc.fit(X_train, Y_train['two_year_recid'])

#saving results
model_scores["Bagging"] = bc.score(X_test, Y_test['two_year_recid'])


#creating boosting model
gbc = GradientBoostingClassifier()
gbc.fit(X_train, Y_train['two_year_recid'])

#saving results
model_scores["Boosting"] = gbc.score(X_test, Y_test['two_year_recid'])

In [ ]:
#creating svc model
svc = SVC()
svc.fit(X_train, Y_train['two_year_recid'])

#saving results
model_scores["SVC"] = svc.score(X_test, Y_test['two_year_recid'])